extends ../helpers/base.jade

block titulo
	title Bienvenido
block contenido
	section#bienvenido
		h5 ¡Bienvenido a MercApp!
		img(src="assets/imagenes/iconproductos.png", alt="")
		h6 ¿Donde te encuentras?
		a.dropdown-button.btn(href="#" data-activates="dropdown1") Selecciona tu distrito 
			i.fa.fa-angle-double-down
		ul#dropdown1.dropdown-content
			li
				a(href="mapamercados.html") Lima
			li
				a(href="mapamercados.html") Ancón
			li
				a(href="mapamercados.html") Ate
			li
				a(href="mapamercados.html") Barranco
			li
				a(href="mapamercados.html") Breña
			li
				a(href="mapamercados.html") Carabayllo
			li
				a(href="mapamercados.html") Chaclacayo
			li
				a(href="mapamercados.html") Chorrillos
			li
				a(href="mapamercados.html") Cieneguilla	
			li
				a(href="mapamercados.html") Comas	
			li
				a(href="mapamercados.html") El Agustino	
			li
				a(href="mapamercados.html") Independencia	
			li
				a(href="#!") Jesus Maria	
			li
				a(href="mapamercados.html") La Molina	
			li
				a(href="mapamercados.html") La Victoria	
			li
				a(href="mapamercados.html") Lince	
			li
				a(href="mapamercados.html") Los Olivos
			li
				a(href="mapamercados.html") Lurigancho	
			li
				a(href="mapamercados.html") Lurin	
			li
				a(href="mapamercados.html") Magdalena del Mar	
			li
				a(href="mapamercados.html") Pueblo Libre
			li
				a(href="mapamercados.html") Miraflores	
			li
				a(href="mapamercados.html") Pachacamac	
			li
				a(href="mapamercados.html") Pucusana	
			li
				a(href="mapamercados.html") Puente Piedra	
			li
				a(href="mapamercados.html") Punta Hermosa	
			li
				a(href="mapamercados.html") Punta Negra	
			li
				a(href="mapamercados.html") Rimac	
			li
				a(href="mapamercados.html") San Bartolo	
			li
				a(href="mapamercados.html") San Borja	
			li
				a(href="mapamercados.html") San Isidro	
			li
				a(href="mapamercados.html") San Juan de Lurigancho
			li
				a(href="mapamercados.html") San Juan de Miraflores
			li
				a(href="mapamercados.html") San Luis	
			li
				a(href="mapamercados.html") San Martin de Porres	
			li
				a(href="mapamercados.html") San Miguel	
			li
				a(href="mapamercados.html") Santa Anita	
			li
				a(href="mapamercados.html") Santa Maria del Mar	
			li
				a(href="mapamercados.html") Santa Rosa	
			li
				a(href="mapamercados.html") Santiago de Surco
			li
				a(href="mapamercados.html") Surquillo	
			li
				a(href="mapamercados.html") Villa EL Salvador	
			li
				a(href="mapamercados.html") Villa Maria del Triunfo 				 																																										   
		a.btn(href="mapaMercadoCercano.html" ) Activa mi GPS		