extends ../helpers/base.jade

block titulo
	title Home


block contenido
	section#home
		.container
			.row
				.col.s12		
					.logo
						img(src='assets/imagenes/logo-ma.png')
					.mercapp
						img(src='assets/imagenes/logo_mapp.png')
					.img-home
					button.busca-home
						a(href="bienvenido.html")
							p Busca tu mercado
					button.inicia-sesion
						a
							p Iniciar sesión
					p.registrate ¿No tienes una cuenta? 
						a 
							span Regístrate
					.redes
						.red-social
							span
								i.fa.fa-facebook.fa-2x
						.red-social			
							span
								i.fa.fa-twitter.fa-2x
						.red-social			
							span
								i.fa.fa-google-plus.fa-2x


						
					

