extends ../helpers/base.jade

block titulo
	title Lista-Selecciona-Distrito
block contenido
	section#lista
		a.dropdown-button.btn(href="#" data-activates="dropdown1") Selecciona tu distrito
		ul#dropdown1.dropdown-content
			li
				a(href="#!") Lima
			li
				a(href="#!") Ancón
			li
				a(href="#!") Ate
			li
				a(href="#!") Barranco
			li
				a(href="#!") Breña
			li
				a(href="#!") Carabayllo
			li
				a(href="#!") Chaclacayo
			li
				a(href="#!") Chorrillos
			li
				a(href="#!") Cieneguilla	
			li
				a(href="#!") Comas	
			li
				a(href="#!") El Agustino	
			li
				a(href="#!") Independencia	
			li
				a(href="#!") Jesus Maria	
			li
				a(href="#!") La Molina	
			li
				a(href="#!") La Victoria	
			li
				a(href="#!") Lince	
			li
				a(href="#!") Los Olivos
			li
				a(href="#!") Lurigancho	
			li
				a(href="#!") Lurin	
			li
				a(href="#!") Magdalena del Mar	
			li
				a(href="#!") Pueblo Libre
			li
				a(href="#!") Miraflores	
			li
				a(href="#!") Pachacamac	
			li
				a(href="#!") Pucusana	
			li
				a(href="#!") Puente Piedra	
			li
				a(href="#!") Punta Hermosa	
			li
				a(href="#!") Punta Negra	
			li
				a(href="#!") Rimac	
			li
				a(href="#!") San Bartolo	
			li
				a(href="#!") San Borja	
			li
				a(href="#!") San Isidro	
			li
				a(href="#!") San Juan de Lurigancho
			li
				a(href="#!") San Juan de Miraflores
			li
				a(href="#!") San Luis	
			li
				a(href="#!") San Martin de Porres	
			li
				a(href="#!") San Miguel	
			li
				a(href="#!") Santa Anita	
			li
				a(href="#!") Santa Maria del Mar	
			li
				a(href="#!") Santa Rosa	
			li
				a(href="#!") Santiago de Surco
			li
				a(href="#!") Surquillo	
			li
				a(href="#!") Villa EL Salvador	
			li
				a(href="#!") Villa Maria del Triunfo 				 																																										   
		h5 Mercados de Miraflores
		.row.descripcion
			.col.s5
				.img
					img(src="assets/imagenes/mercado1.jpg")
			.col.s7
				h6 Señor de Muruhuay
				p Dirección: lalala 
				p Referencia: lalalla
					.icon
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")

		.row.descripcion
			.col.s5
				.img
					img(src="assets/imagenes/mercado2.jpg")
			.col.s7
				h6 Señor de Muruhuay
				p Dirección: lalala 
				p Referencia: lalalla
					.icon
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")
		.row.descripcion
			.col.s5
				.img
					img(src="assets/imagenes/mercado3.jpg")
			.col.s7
				h6 Señor de Muruhuay
				p Dirección: lalala 
				p Referencia: lalalla
					.icon
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")
					i.fa.fa-star-o(aria-hidden="true")
		