extends ../helpers/base.jade

block titulo
	title Perfil


block contenido
	section#perfil
		h1 Mercado Vigen del Rosario
		.row
			.col.s6
				img.mercado(src="assets/imagenes/mercado2.jpg", alt="")
			.col.s6.text
				p.per Dirección: lalala <br> Referencia: lalalla
				i.fa.fa-star(aria-hidden="true")
				i.fa.fa-star(aria-hidden="true")
				i.fa.fa-star(aria-hidden="true")
				i.fa.fa-star-o(aria-hidden="true")
				i.fa.fa-star-o(aria-hidden="true")
		h1 Galería de imágenes
		.row
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria1.jpg", alt="")
					#modal1.modal
						.modal-content
							img(src="assets/imagenes/galeria1.jpg", alt="")
							p En este mercado hay grandes ofertas!
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria2.jpg", alt="")
					#modal2.modal
						.modal-content
							img(src="assets/imagenes/galeria2.jpg", alt="")
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria3.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
			.row
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria4.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria5.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria6.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
			.row
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria7.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria8.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
				.col.s4
					a.waves-effect.waves-orange.modal-trigger(href="#modal1")
						img(src="assets/imagenes/galeria9.jpg", alt="")
					#modal1.modal
						.modal-content
							h3 titulo
							p hola
						.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar