nav
	div.nav-wrapper
		a.brand-logo.right(href="#")
			img(src="assets/imagenes/logo-ma.png")
		a.button-collapse(href="#" data-activates="mobile-demo")
			img(src="assets/imagenes/menu.png", alt="")
		ul.right.hide-on-med-and-down
			li
				a(href="sass.html") Busca tu mercado
			li
				a(href="sass.html") Ránking de Mercados
			li
				a(href="sass.html") Tus productos
			li
				a(href="sass.html") Ofertas
		ul#mobile-demo.side-nav
			li
				a(href="sass.html") Invitado
					img(src="#", alt="")
			li
				a(href="sass.html") Busca tu mercado
			li
				a(href="sass.html") Ránking de Mercados
			li
				a(href="sass.html") Tus productos
			li
				a(href="sass.html") Ofertas