#bienvenido{
	background: $celeste;
	text-align: center;
	padding-bottom: 11px;
	h5{
		margin: 0;
		padding: 25px 0;
		font-weight: 700;
	}
	h6{
		padding:15px 0;
		font-weight: 700;
	}
	.btn{
		margin: 10px 0;
		background-color: $naranja;
	}
}