#lista{
	background: $celeste;
	text-align: center;
	padding-bottom: 21px;
	.btn{
		background-color:$naranja;
		border-radius: 20px;
		color: black;
		margin: 25px 0 15px 0;
		font-family: 'Raleway';
		font-weight: 900;
		font-size: 20px;
		text-decoration: none;
		text-transform: none;
	}
	.img{
		width: 120px;
		img{
			width: 100%
		}
	}
	h5{
		font-weight: bold;
		margin-bottom: 30px
	}
	.s7{
		text-align: left;
		h6{
			margin: 0 0 10px;
    		font-weight: bolder;
		}
		p{
			margin: 5px 0;
		}
	}
	.descripcion{
		    margin: 20px 0 0;
	}
 }