section#mapa-mercados{
	background-color: $verde-fondo;
	background-size: 100%;
	padding-bottom: 27px;
	.lista-dropdown{
		margin-top: 20px;
		margin-bottom: 10px;
		a.btn{
			border-radius: 31px;
			background-color: $verde-claro;
			font-size: 14px;
			font-weight: 600;
			height: 30px;
		}
		ul#dropdown1{
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px; 
			border-radius: 7px;

			li{ 
				a{
					color: black;
					&:hover{
						background-color: $verde-claro;
						color: white;
					}
				}
			}
		} 
	}
	a{
		text-decoration: none;
		color: black;
		p.haz-click{
			text-align: center;
			font-weight: 600;
		}
	}

}